html, body { height: 100%; margin: 0; padding: 0; }
html { margin: auto; display: table; }
body {
  display: table-cell;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  color: #444;
}

div.responseDiv {
  margin-top: 20px;
}

div.responseField {
  border-radius: 0.25em;
  text-align: center;
  background-color: #efefef;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}

div.responseTitle {

}

div.simple {
  position: relative;
  width: calc(90% - 3em);
  background-color: #fff;
  margin: 1em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
  border-radius: 0.25em;
  text-align: center;
}

div.small {
  width: 30em;
}

input.text {
  position: relative;
  width: calc(100% - 2.2em);
  border: 0.2em solid #888;
  padding: 0 0.5em 0 0.5em;
  margin: 0.5em;
  height: 2em;
  border-radius: 0.25em;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 10.5pt;
  z-index: 1;
}

.title {
  position: relative;
  top: 10px;
  font-size:60px;
  color: #f44336;
  text-align:center;
}

.rules {
  text-align:left;
}

.imageButton {
  cursor:pointer;
  background: #fdd;
  opacity:1;
  transition:0.3s;
  border-style:outset;
  width:66px;
  height:57px;
  border-radius:0.25em;
}

.buttonImage {
  width:50px;
  height:50px;
  transition:0.3s;
}

.imageButton:hover {
  border-style:inset;
}

.button {
  cursor:pointer;
  height: 2.25em;
  border: 0.2em solid #bbb;
  border-radius: 0.25em;
  background: #f8f8f8;
  color: #444;
  margin: 0.5em 0.25em;
  font-family: Roboto, sans-serif;
  font-size: 10.5pt;
}

.button:hover {
  background: #eee;
}

.button::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {
  float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
